h1,
.h1 {
 font-size:2.3rem
}

footer {
 padding:2em 0;
 background-color:#fff;
 color:#515665;
 text-align:center;
 font-size:12pt
}

a:link {
  color: #d613b9;
}

a:visited {
  color: #d613b9;
}

a:hover {
  color: #a91193;
}

a:active {
  color: #a91193;
}
